.gradle
.DS_Store

*.apk
*.ap_

*.dex

*.class

bin/
gen/
build/

local.properties

.classpath
.project

# Android Studio
.idea/
/*/local.properties
/*/out
/*/*/build
/*/*/production
*.iml
*.iws
*.ipr
*~
*.swp

